# Predicting Creadit Card Approval

<p>This notebook aims to utilize machine learning models to predict credit card approval</p>

## 1. Background
<p> Everyday, banks receive a lot of applications for credit cards. This huge amount of application can lead to slow pace of service and is very prone to human error. So now we will simulate if machine learning could take part to this process.</p>

<img src="picture/creditcard.jpg" alt = "Credict Card in Hand">

## 2. Inspecting Dataset

In [1]:
import pandas as pd

# Load dataset
credit_card_apps = pd.read_csv("datasets/cc_approvals.data", header=None)

# Inspect data
credit_card_apps.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

<p>According to <a href="http://rstudio-pubs-static.s3.amazonaws.com/73039_9946de135c0a49daa7a0a9eda4a67a72.html">this blog</a>, the probable features in the dataset are <br><code>Gender</code>, <code>Age</code>,<code>Debt</code>,<code>Married</code>,<code>BankCustomer</code>,<code>EducationLevel</code>,<code>Ethnicity</code>,<br><code>YearsEmployed</code>,<code>PriorDefault</code>,<code>Employed</code>,<code>CredictScore</code>,<code>DriverLicense</code>,<br><code>Citizen</code>,<code>ZipCode</code>,<code>Income</code>, and <code>ApprovalStatus</code></p>

<p>The dataset sure has some categorical features and numerical features</p>

In [2]:
#Print summary statistics 
print(credit_card_apps.describe(),"\n")

#Print dataframe information
print(credit_card_apps.info())

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None

<p>The statistics summary of numerical features in the dataset show that the dataset have different range (0 - 28, 0 - 67, and 0 - 100000).</p>

<p>On the other side, dataframe information shows that there are no nan data. But we still need to check each unique value of categorical features.</p>

### 2.1 Find the missing values of numerical features

In [3]:
missing_value = []
for col in credit_card_apps.columns:
    if ((col == 1) or (col == 13)) or (credit_card_apps[col].dtypes != 'object'):
        for i in range(len(credit_card_apps)):
            try :
                float(credit_card_apps[col].iloc[i])
            except :
                missing_value.append(credit_card_apps[col].iloc[i])
print(missing_value)

['?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?']

We found that there is no missing value in the numerical features.

### 2.2 Find the missing values of categorical features

In [4]:
for col in credit_card_apps.columns:
    if (credit_card_apps[col].dtypes == 'object') :
        print("Column : {}".format(col))
        print(credit_card_apps[col].unique())
        print("\n")

Column : 0
['b' 'a' '?']


Column : 1
['30.83' '58.67' '24.50' '27.83' '20.17' '32.08' '33.17' '22.92' '54.42'
 '42.50' '22.08' '29.92' '38.25' '48.08' '45.83' '36.67' '28.25' '23.25'
 '21.83' '19.17' '25.00' '47.75' '27.42' '41.17' '15.83' '47.00' '56.58'
 '57.42' '42.08' '29.25' '42.00' '49.50' '36.75' '22.58' '27.25' '23.00'
 '27.75' '54.58' '34.17' '28.92' '29.67' '39.58' '56.42' '54.33' '41.00'
 '31.92' '41.50' '23.92' '25.75' '26.00' '37.42' '34.92' '34.25' '23.33'
 '23.17' '44.33' '35.17' '43.25' '56.75' '31.67' '23.42' '20.42' '26.67'
 '36.00' '25.50' '19.42' '32.33' '34.83' '38.58' '44.25' '44.83' '20.67'
 '34.08' '21.67' '21.50' '49.58' '27.67' '39.83' '?' '37.17' '25.67'
 '34.00' '49.00' '62.50' '31.42' '52.33' '28.75' '28.58' '22.50' '28.50'
 '37.50' '35.25' '18.67' '54.83' '40.92' '19.75' '29.17' '24.58' '33.75'
 '25.42' '37.75' '52.50' '57.83' '20.75' '39.92' '24.75' '44.17' '23.50'
 '47.67' '22.75' '34.42' '28.42' '67.75' '47.42' '36.25' '32.67' '48.58'
 '33.58' '18.83' '26.92' '31.25' '56.50' '43.00' '22.33' '32.83' '40.33'
 '30.50' '52.83' '46.67' '58.33' '37.33' '23.08' '32.75' '68.67' '28.00'
 '44.00' '25.08' '32.00' '60.58' '40.83' '19.33' '41.33' '56.00' '49.83'
 '22.67' '27.00' '26.08' '18.42' '21.25' '57.08' '22.42' '48.75' '40.00'
 '40.58' '28.67' '33.08' '21.33' '41.75' '34.50' '48.17' '27.58' '24.08'
 '24.83' '36.33' '35.42' '71.58' '39.50' '39.33' '24.33' '60.08' '55.92'
 '53.92' '18.92' '50.08' '65.42' '17.58' '18.08' '19.67' '25.17' '33.50'
 '58.42' '26.17' '42.83' '38.17' '20.50' '48.25' '28.33' '18.75' '18.50'
 '45.00' '40.25' '41.42' '17.83' '18.17' '20.00' '52.17' '50.75' '17.08'
 '18.33' '59.67' '18.00' '37.58' '30.67' '18.58' '16.25' '21.17' '17.67'
 '16.50' '29.50' '21.75' '18.25' '35.75' '16.08' '69.17' '32.92' '16.33'
 '22.17' '57.58' '15.92' '31.75' '19.00' '17.50' '33.67' '30.17' '33.25'
 '25.25' '34.75' '47.33' '39.08' '42.75' '38.92' '62.75' '32.25' '26.75'
 '63.33' '30.75' '16.00' '19.50' '32.42' '30.25' '26.83' '16.92' '24.42'
 '39.42' '23.58' '21.42' '33.00' '26.33' '26.25' '28.17' '20.83' '43.17'
 '56.83' '15.17' '29.83' '31.00' '51.92' '69.50' '19.58' '22.25' '38.42'
 '26.58' '35.00' '29.42' '49.17' '51.83' '58.58' '53.33' '27.17' '25.92'
 '30.58' '17.25' '27.33' '36.50' '29.75' '52.42' '36.17' '34.58' '21.92'
 '36.58' '31.08' '30.42' '21.08' '17.42' '39.17' '26.50' '17.33' '23.75'
 '34.67' '74.83' '45.33' '47.25' '24.17' '39.25' '39.00' '64.08' '31.33'
 '21.00' '13.75' '46.00' '20.25' '60.92' '30.00' '22.83' '45.17' '41.58'
 '55.75' '25.33' '31.83' '33.92' '24.92' '80.25' '30.08' '48.33' '76.75'
 '51.33' '41.92' '29.58' '32.17' '51.42' '42.17' '43.08' '59.50' '65.17'
 '20.33' '48.50' '28.08' '73.42' '51.58' '38.67' '46.08' '20.08' '42.25'
 '16.17' '47.83' '22.00' '38.33' '25.58' '21.58' '36.08' '38.75' '35.58'
 '31.58' '15.75' '17.92' '30.33' '47.17' '25.83' '50.25' '36.42']


Column : 3
['u' 'y' '?' 'l']


Column : 4
['g' 'p' '?' 'gg']


Column : 5
['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j' '?']


Column : 6
['v' 'h' 'bb' 'ff' 'j' 'z' '?' 'o' 'dd' 'n']


Column : 8
['t' 'f']


Column : 9
['t' 'f']


Column : 11
['f' 't']


Column : 12
['g' 's' 'p']


Column : 13
['00202' '00043' '00280' '00100' '00120' '00360' '00164' '00080' '00180'
 '00052' '00128' '00260' '00000' '00320' '00396' '00096' '00200' '00300'
 '00145' '00500' '00168' '00434' '00583' '00030' '00240' '00070' '00455'
 '00311' '00216' '00491' '00400' '00239' '00160' '00711' '00250' '00520'
 '00515' '00420' '?' '00980' '00443' '00140' '00094' '00368' '00288'
 '00928' '00188' '00112' '00171' '00268' '00167' '00075' '00152' '00176'
 '00329' '00212' '00410' '00274' '00375' '00408' '00350' '00204' '00040'
 '00181' '00399' '00440' '00093' '00060' '00395' '00393' '00021' '00029'
 '00102' '00431' '00370' '00024' '00020' '00129' '00510' '00195' '00144'
 '00380' '00049' '00050' '00381' '00150' '00117' '00056' '00211' '00230'
 '00156' '00022' '00228' '00519' '00253' '00487' '00220' '00088' '00073'
 '00121' '00470' '00136' '00132' '00292' '00154' '00272' '00340' '00108'
 '00720' '00450' '00232' '00170' '01160' '00411' '00460' '00348' '00480'
 '00640' '00372' '00276' '00221' '00352' '00141' '00178' '00600' '00550'
 '02000' '00225' '00210' '00110' '00356' '00045' '00062' '00092' '00174'
 '00017' '00086' '00454' '00254' '00028' '00263' '00333' '00312' '00290'
 '00371' '00099' '00252' '00760' '00560' '00130' '00523' '00680' '00163'
 '00208' '00383' '00330' '00422' '00840' '00432' '00032' '00186' '00303'
 '00349' '00224' '00369' '00076' '00231' '00309' '00416' '00465' '00256']


Column : 15
['+' '-']

Again, the only missing value in this dataset is '?' value. <p>Note : columns 1 and 13 look like a numerical features, but remember that columns 1 and 13 are <code>Age</code> and <code>Zip Code</code>, that means these are categorical features.</p>

## 3. Handling Missing Value

We will now replace '?' with NaN

In [5]:
import numpy as np

#Replace '?' with NaN
credit_card_apps = credit_card_apps.replace('?',np.nan)

#Check for the missing value
credit_card_apps.isnull().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

After we replaced '?' with NaN, we know the number of missing value for each feature. There are no missing value in numerical features (column 2, 7, 10, 14).

### 3.1 Impute Missing Value

There are many ways to treat missing value, this time we will impute the categorical missing value with most frequent class.

In [6]:
for col in credit_card_apps.columns:
    if credit_card_apps[col].dtypes == 'object':
        credit_card_apps = credit_card_apps.fillna(credit_card_apps[col].value_counts().index[0])

In [7]:
#Check for the missing value
credit_card_apps.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

## 4. Data Preprocessing

First, we will convert the non numerical data to numerical data (non number to number) because machine learning only accepts numeric data.

### 4.1 Label Encoding
<p> We use label encoding to convert non number data to number data.</p>

In [8]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Instantiate LabelEncoder
le=LabelEncoder()

# Iterate over all the values of each column and extract their dtypes
for col in credit_card_apps.columns.values:
    if credit_card_apps[col].dtypes=='object':
        credit_card_apps[col]=le.fit_transform(credit_card_apps[col])

In [9]:
credit_card_apps.head()

   0    1      2   3   4   5   6     7   8   9   10  11  12  13   14  15
0   1  156  0.000   2   1  13   8  1.25   1   1   1   0   0  68    0   0
1   0  328  4.460   2   1  11   4  3.04   1   1   6   0   0  11  560   0
2   0   89  0.500   2   1  11   4  1.50   1   0   0   0   0  96  824   0
3   1  125  1.540   2   1  13   8  3.75   1   1   5   1   0  31    3   0
4   1   43  5.625   2   1  13   8  1.71   1   0   0   0   2  37    0   0

### 4.2 Feature Importance
<p> Before we proceed to data splitting, we need to know which feature act as the best predictor for our model. This time we will use <code>RandomForest</code>,<code>KNN</code>, and <code>ExtraTrees</code>to find the best features.</p>

#### 4.3.4 Choosing Feature
We will choose features that have high value in all of the feature selection methods.